

.landing-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
height: 100vh;
background-size: cover;
 background-image: url(../assets/Images/bgimg.jpg);
  border:none;
}

