.forgot-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f4f7;
     background-image: url(../assets/Images/bgimg.jpg);
}

.forgot-container {
  /* background: white; */
  padding: 40px;
  width: 400px;
  border-radius: 12px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.forgot-form {
  display: flex;
  flex-direction: column;
}

.forgot-title {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.forgot-input {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.forgot-button {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.forgot-button:hover {
  background-color: #5a52d4;
}

.forgot-error {
  color: red;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 8px;
}
