.logo {
    display: flex;
}

.user-icon {
    width: 20px;
    height: 20px;
    color: black;
} 

.about{
  text-decoration: none;
}
.navbar-brand{
  font-weight: bold;
font-style: italic;
}

  .navbar{
    height: 8vh;
  }
  


  .navbar-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 5;
  }
  
  .navbar-nav .nav-item {
    margin: 0 10px;
  }
  
  .user-icon {
    font-size: 20px;
    color: #333;
  }
  

  .navbar-collapse > .navbar-nav {
    justify-content: center;
  } 
  
  .navbar-collapse > div {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
/* Center modal vertically and horizontally */
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full height of viewport */
}

.modal-content {
  margin: auto;
}
